@model LibApp.Models.Book;

@{
    ViewBag.Title = "Random book";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var book = ViewBag.Book as Book;
    var book = ViewData["FirstBook"] as Book;
}

@*Use for direct object passing from controller return type f.e. return View(firstName)*@
@*<h2>@Model.Title</h2>*@

<h2>@book.Title</h2>

