@model LibApp.ViewModels.RandomBooksViewModel;

@{
    ViewBag.Title = "Random book";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var book = ViewBag.Book as Book;
}

@*Use for direct object passing from controller return type f.e. return View(firstName)*@
@*<h2>@Model.Title</h2>*@


@{
    var className = Model.Customers.Count == 5 ? "popular" : "new";
}

<h2 class="@className">@Model.Book.Title</h2>

<ul>
    @if (Model.Customers.Count == 0)
    {
        <p>No customers found</p>
    }
    else
    @foreach (var customer in Model.Customers)
    {
        <li>@customer.Name</li>
    }
</ul>


